.about-conatiner {
    background-color: darkgray;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-title {
    font-family: "Roboto";
    font-size: 42px;
}

.about-description {
    font-family: "Roboto";
    font-size: 24px;
    line-height: 35px
}

.image {
    height: 300px;
    width: 300px;
}

hr {
    width: 200px;
}